* {
    box-sizing: border-box;
}

:root {
    --width: 4px;
    --color: #222;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 1000px;
    margin: 20px auto;
}

.row {
    display: flex;
}

hr {
    border: 1px solid #eee;
}

.game-info {
    display: flex;

    .game-name {
        flex: 1;
    }

    .type {
        flex: 1;
        text-align: right;

        span {
            color: #e91e63;
            font-weight: bold;
        }
    }
}

.hangman-row {
    flex: 1;
    background-color: #f7f7f7;
    padding: 20px;
    height: 324px;

    .rows {
        width: 70px;
        height: 280px;
        left: -65px;
        border-bottom: var(--width) solid var(--color);
        position: relative;
        margin: auto;
        display: none;

        .stand {
            position: absolute;
            background-color: var(--color);
            width: var(--width);
            height: 100%;
            left: 50%;
            margin-left: -2px;
            display: none;
        }

        .hang {
            position: absolute;
            background-color: var(--color);
            width: 130px;
            height: var(--width);
            left: 35px;
            top: 20px;
            margin-left: -2px;
            display: none;
        }

        .hang::after {
            position: absolute;
            content: "";
            background-color: var(--color);
            height: 30px;
            width: var(--width);
            right: 0;
            top: 0;
            margin-left: -2px;
        }

        .rope {
            position: absolute;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            left: 124px;
            top: 50px;
            top: 49px;
            border: var(--width) dashed var(--color);
            display: none;
        }

        .man {

            .head {
                position: absolute;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                left: 134px;
                top: 59px;
                border: var(--width) solid var(--color);
                display: none;
            }

            .body {
                position: absolute;
                background-color: var(--color);
                width: var(--width);
                height: 110px;
                left: 159px;
                top: 105px;
                display: none;
            }

            .hands {
                display: none;
            }

            .hands::before,
            .hands::after {
                position: absolute;
                content: "";
                width: 50px;
                height: var(--width);
                background-color: var(--color);
                left: 115px;
                top: 140px;
                transform: rotate(35deg);
            }

            .hands::after {
                left: 156px;
                transform: rotate(-35deg);
            }

            .legs {
                display: none;
            }

            .legs::before,
            .legs::after {
                position: absolute;
                content: "";
                width: 50px;
                height: var(--width);
                background-color: var(--color);
                left: 120px;
                top: 230px;
                transform: rotate(-50deg);
            }

            .legs::after {
                left: 152px;
                transform: rotate(50deg);
            }
        }
    }
}

.hangman-row.try-1 .rows {
    display: block;
}

.hangman-row.try-2 .rows .stand {
    display: block;
}

.hangman-row.try-3 .rows .hang {
    display: block;
}

.hangman-row.try-4 .rows .rope {
    display: block;
}

.hangman-row.try-5 .rows .head {
    display: block;
}

.hangman-row.try-6 .rows .body {
    display: block;
}

.hangman-row.try-7 .rows .hands {
    display: block;
}

.hangman-row.try-8 .rows .legs {
    display: block;
}

.letters {
    flex: 1;
    padding: 20px;
    text-align: center;
    direction: rtl;

    .letter-Box {
        width: 55px;
        height: 55px;
        font-size: 24px;
        font-weight: bold;
        display: inline-block;
        background-color: #009688;
        color: #fff;
        margin-right: 10px;
        margin-bottom: 10px;
        line-height: 55px;
        cursor: pointer;
    }

    .letter-Box.cliked {
        background-color: #222;
        opacity: 0.5;
        cursor: no-drop;
    }
}

.letters.finsh {
    pointer-events: none;
}

.leters-guess {
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    gap: 10px;

    span {
        width: 60px;
        height: 50px;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eee;
        border-bottom: 3px solid var(--color);
        transition: .3s;
    }

    span.space {
        background-color: #009688;
        border: none;
    }

    .cick {
        background-color: #009688;
        cursor: pointer;
        text-align: center;
        font-size: 20px;
        color: #fff;
        font-weight: bold;
        border-radius: 10px;
        width: 170px;
        height: 60px;
        padding-top: 15px;
        transition: .2s;

        &:hover {
            transform: translateY(-3px);
            background-color: #038d88;
        }
    }
}

.bob {
    position: fixed;
    background-color: #009688;
    color: white;
    width: 80%;
    top: 10%;
    left: 10%;
    text-align: center;
    padding: 70px 100px;
    font-size: 45px;
    border: 1px solid #ccc;
    font-weight: bold;
    display: none;

    span {
        color: #222;
        font-size: 50px;
        display: block;
    }

    a {
        text-decoration: none;
        color: white;
        background-color: #8bc34a;
        padding: 20px 50px;
        border-radius: 40px;
        font-size: 25px;
        font-weight: bold;
        margin-top: 30px;
        display: inline-block;
        transition: 0.3s;

        &:hover {
            transform: translateY(-3px);
            background-color: aqua;
            color: var(--color);
        }
    }
}

.end {
    background: linear-gradient(190deg, #009688, #607D8B);
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 200px;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: none;

    video {
        margin-top: 3px;
        width: 550px;
        height: 640px;
    }

    p {
        text-align: center;
        position: absolute;
        right: 200px;
        top: 130px;
        z-index: 100;
        font-size: 40px;
        font-weight: bold;
        color: #fff;
        max-width: 300px;
        display: none;
    }

    a {
        text-decoration: none;
        text-align: center;
        color: white;
        background-color: #8bc34a;
        padding: 20px 50px;
        border-radius: 40px;
        font-size: 25px;
        font-weight: bold;
        position: absolute;
        right: 230px;
        bottom: 120px;
        z-index: 99;
        transition: 0.3s;

        &:hover {
            transform: translateY(-3px);
            background-color: aqua;
            color: var(--color);
        }
    }
}






p.play,
.end.play,
a.play,
.bob.play {
    display: block;
}